table {
  margin: 0 auto;
  margin-top: 20vh;
}
.row {
  border-bottom: 10px solid white;
}
.card {
  float: left;
  background-color: #00bb08;
  height: 60px;
  box-shadow: 0 0 0 1px white inset;
  border-radius: 3px;
}

.card--in_progress {
  opacity: 0.2;
  background-color: #02e10c;
}
