body {
  overflow: hidden;
  margin: 0;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.leaderboard-row {
  border-bottom: 1px solid #ccc;
  display: flex;
  flex: 1;
  width: 100%;
}

.avatar {
  height: 100%;
}

.avatar-image {
  display: block;
  height: 100%;
}

.card_bar {
  display: flex;
  flex: 1;
  height: 100%;
}

.card_bar-card {
  background-color: #00bb08;
  border: 1px solid #000;
  flex: 1;
}

.card_bar-card--in_progress {
  background-color: #02e10c;
}
