/* COLORS
   $success_green: #0ecb27;
   $error_red: #ff1414;
*/

body {
  overflow: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  height: 70vh;
  left: 0;
  top: 0;
  width: 100vw;
}

.leaderboard-row {
  display: flex;
  flex: 1;
  width: 100%;
  margin-bottom: 4px;
}

.leaderboard-row:last-of-type {
  margin-bottom: 0;
}

.avatar {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 200px;
}

.avatar-image {
  border-radius: 100px;
  display: block;
  width: 100px;
}

.progress_bar {
  display: flex;
  flex: 1;
  height: 100%;
  position: relative;
}

.progress_bar-section {
  height: 100%;
  position: relative;
}

.progress_bar-section--done {
  background: #0ecb27;
}

.progress_bar-section--done::before {
  color: #fff;
  content: "done";
  font-weight: 800;
  margin-left: 5%;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  transform: translateY(-50%);
}

.progress_bar-section--pending {
  background:
    linear-gradient(135deg, #d8f3db 22px, #0ecb27 22px, #0ecb27 24px, transparent 24px, transparent 67px, #0ecb27 67px, #0ecb27 69px, transparent 69px)
   ,linear-gradient(225deg, #d8f3db 22px, #0ecb27 22px, #0ecb27 24px, transparent 24px, transparent 67px, #0ecb27 67px, #0ecb27 69px, transparent 69px) 0 64px;
  background-color: #d8f3db;
  background-size: 64px 128px;
}

.number_done {
  align-items: center;
  color: #0ecb27;
  display: flex;
  font-size: 4vh;
  font-weight: 800;
  justify-content: center;
  line-height 1;
  width: 100px;
}
