<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BugBash</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="https://api.trello.com/1/client.js?key=932463a90c024f5b7c1e00dce69c27bc"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.16.6/lodash.min.js"></script>
    <script src="api/trello.js"></script>
  </head>
  <body>
    <div ng-controller="BugBashCtrl as ctrl">
      <div ng-view></div>

      <table>
        <tr ng-repeat="row in standings | orderBy:['-done_total','-total']" class="row">
          <td class="user">
            <img alt src="{{users[row.user_id].url}}" style="height: 58px; border-radius: 3px;" />
          </td>

          <td class="cards">
            <div ng-repeat="card in row.cards" style="width: {{card.points * 100}}px;" class="card card--{{ card.state }}">
            </div>
          </td>
        </tr>
      </table>

      <script src="bower_components/angular/angular.js"></script>
      <script src="app.js"></script>
      <script src="controllers/bug_bash.js"></script>
      <script src="components/version/version.js"></script>
      <script src="components/version/version-directive.js"></script>
      <script src="components/version/interpolate-filter.js"></script>
    </div>
  </body>
</html>
